<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LibAmiibo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LibAmiibo.Properties.Settings>
      <setting name="AmiiboKeys" serializeAs="String">
        <value>C:\xampp\htdocs\amiitool\key\amiibo_key_retail.bin</value>
      </setting>
      <setting name="CDNKeys" serializeAs="String">
        <value>C:\xampp\htdocs\amiitool\key\cdn_keys.bin</value>
      </setting>
      <setting name="TitleCacheDir" serializeAs="String">
        <value>C:\xampp\htdocs\amiitool\titles</value>
      </setting>
    </LibAmiibo.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
